<configuration scan="true" scanPeriod="10 seconds">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>

  <logger name="org.avaje" level="TRACE"/>
  <logger name="io.ebean" level="INFO"/>

  <logger name="io.ebean.docker" level="TRACE"/>
  <logger name="io.ebean.DDL" level="DEBUG"/>

  <logger name="io.ebean.SQL" level="TRACE"/>
  <logger name="io.ebean.TXN" level="TRACE"/>
  <logger name="io.ebean.SUM" level="TRACE"/>

</configuration>
