<configuration scan="true" scanPeriod="10 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPLICATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/ebean.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>log/application.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>90</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="APPLICATION"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.avaje.ebean" level="INFO"/>
    <logger name="org.avaje.ebean" level="INFO"/>
    <logger name="org.avaje.ebean.SQL" level="TRACE"/>
    <logger name="org.avaje.ebean.TXN" level="TRACE"/>
    <logger name="org.avaje.ebean.SUM" level="TRACE"/>

    <logger name="com.avaje.ebeaninternal.server.ddl" level="TRACE"/>

    <logger name="org.avaje.ebean.cache.QUERY" level="TRACE"/>
    <logger name="org.avaje.ebean.cache.BEAN" level="TRACE"/>
    <logger name="org.avaje.ebean.cache.COLL" level="TRACE"/>
    <logger name="org.avaje.ebean.cache.NATKEY" level="TRACE"/>

    <logger name="com.avaje.tests" level="DEBUG"/>

    <logger name="com.avaje.ebeaninternal.server.cluster" level="DEBUG"/>
    <logger name="com.avaje.ebeaninternal.server.lib" level="DEBUG"/>
    <logger name="com.avaje.ebeaninternal.server.lib.sql" level="TRACE"/>
    <logger name="com.avaje.ebeaninternal.server.transaction" level="TRACE"/>
    
</configuration>