<?xml version="1.0" encoding="UTF-8"?>
<!-- Define a local repo for IT tests -->
<settings>
    <profiles>
        <profile>
            <id>it-repo</id>

            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>

            <repositories>
                <repository>
                    <id>local.central</id>
                    <url>@localRepositoryUrl@</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>

        </profile>
    </profiles>
</settings>